name: golangci-lint


on: [ pull_request ]


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4


      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17


      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0